<!DOCTYPE html>
<html>
	<head>
		<title>NapTime | EikonHack 2.0</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="author" content="" /> 
		<meta name="description" content="" /> 
		<meta name="keywords" content="" />
		<link rel="shortcut icon" type="image/png" href="" />
		<!-- FONTS -->
		<link href='stylesheets/fonts.css' type='text/css' rel='stylesheet' media="screen">
		<!-- PAGE CSS -->
		<link href="stylesheets/main-style.css" type="text/css" rel="stylesheet" media="screen">
	</head>
	<body>

     

<div id = "header">
		<div id = "logo">
			<div id = "main-text">
				<span class = "orange" title="News Analysis Platform">NAP</span><span>TIME</span>				
			</div>
			<div id = "sub-text">EikonHack 2.0</div>
		</div>
		<div id = "news-bar" class="news-empty">
			<div id = "news-bar-left">          
				<img id="news-icon" src = "images/news-icon.png" alt = "News icon" />
				<div id = "news-header" class = "news-item">
                    <div class = "news-title">Pick a news item</div>
				</div>              
			</div>
            <img src = "images/expand-down-icon.png" id = "news-bar-right" alt = "Toggle news list" />
            <div class = "clearfix"></div>
        </div>
		<div class = "clearfix"></div>
        <ul id="news-expanded">
        </ul>
	</div>

	<div id = "content">
		<div id = "left-column">
			<div id = "sentiment-box" class = "widget-box">
                <div class="box-header">Twitter sentiment analysis</div>
                <div id = "result">
                	<div id = "result-indicator"><img src = "images/positive-indicator.png" alt = "indicator" /></div>
                	<div id = "result-percent">67% positive</div>
                </div>
                <div id = "bar">
                	<div id = "bar-negative"></div>
                	<div id = "bar-positive"></div>
                	<div id = "cursor"><img src = "images/positive-bar-icon.png" alt = "cursor" /></div>
                </div>
				<div id = "bar-percents">
					<span id = "percent-1">100%</span>
					<span id = "percent-2">50%</span>
					<span id = "percent-3">0%</span>
					<span id = "percent-4">50%</span>
					<span id = "percent-5">100%</span>
				</div>
            </div>
			<div id = "feed-box" class = "widget-box">
                <div class="box-header">Real-time Twitter feed</div>
				<div id = "keywords">
					KEYWORDS
                    <span id="outer-keyword-box">
                        
                    </span>
				</div>
                <div id="twitter-feed">
               <!--
				<div class = "twitter-post">
					<span class = "twitter-name">Tim Warren</span>
					<span class = "twitter-meta"><span class = "twitter-user">@timwarren</span><span class = "twitter-time">1h</span></span>					
					<div class = "twitter-text">The more I use the Microsoft band, the more I want to interact with 
					notifications and have a smartwatch. Apple will be interesting</div>
				</div>
                <div class = "twitter-post">
					<span class = "twitter-name">Tim Warren</span>
					<span class = "twitter-meta"><span class = "twitter-user">@timwarren</span><span class = "twitter-time">1h</span></span>					
					<div class = "twitter-text">The more I use the Microsoft band, the more I want to interact with 
					notifications and have a smartwatch. Apple will be interesting</div>
				</div>
                <div class = "twitter-post">
					<span class = "twitter-name">Tim Warren</span>
					<span class = "twitter-meta"><span class = "twitter-user">@timwarren</span><span class = "twitter-time">1h</span></span>					
					<div class = "twitter-text">The more I use the Microsoft band, the more I want to interact with 
					notifications and have a smartwatch. Apple will be interesting</div>
				</div>
                 -->
                </div>
            </div>
            <div class = "clearfix"></div>
		</div>
		<div id = "right-column">
			<div id = "map-box" class = "widget-box">
                <div class="box-header">Real-time tweet locations</div>
                <div id="map-container"></div>
            </div>
			<div id = "market-box" class = "widget-box">
                <div class="box-header">Market analysis</div>
            </div>
            <div class = "clearfix"></div>
		</div>
		<div class = "clearfix"></div>
	</div>
    <script src="javascripts/jquery-2.1.1.min.js"></script>
    <script src="javascripts/d3.min.js"></script>
    <script src="javascripts/topojson.v1.min.js"></script>
    <script src="javascripts/datamaps.world.min.js"></script>
    <script>
    var copy;

     $(document).ready(function() {

    function functionToLoadFile(){
      jQuery.get('tweets/tweets.txt', function(data) {
       if(copy!=data)console.log(JSON.parse(data));
       copy = data;
       

       //$('#songtitleholder').html(songtitle);
       setTimeout(functionToLoadFile, 5000);
    });
    }

    setTimeout(functionToLoadFile, 10);
});
        
        var newsData = <%-news%>;
       var marketData = JSON.parse(<%-JSON.stringify(marketdata)%>);
        
        //console.log(marketData);
        var currentNewsID = null;
        
        // POPULATE EXPANDED SELECTOR
        function refreshNews(){
        
            $('#news-expanded').empty();
            $.each(newsData.TopNews.slice(0,6), function(index, elem){
                
                // SKIP IF ALREADY SHOWN
                if(index == currentNewsID) { return true; }
                
                var listText = '<li class="news-item" data-item-id="' + index + '">' +
                    '<div class = "news-title">' + elem.Headline + '</div>' +
                    '<div class = "news-meta">' +
                        '<span class = "news-date">' + elem.date + '</span>|' +
                        '<span class = "news-excerpt">' + elem.Brief + '</span>' +							
                    '</div>' +
                '</li>';
                
                $('#news-expanded').append(listText);
            });
        }
        refreshNews();
        
        // CHECK IF EMPTY NEWS
        if($('#news-bar').hasClass('news-empty')){
            $('#news-expanded').show();
        }
        
        // EXPAND NEWS SELECTOR
        $('#news-bar-right').click(function(){
            
            // IF VISIBLE, COLLAPSE
            if($('#news-expanded').is(":visible")){
                $('#news-expanded').fadeOut();
                $('#news-bar-right').attr("src", "images/expand-down-icon.png");
            }
            // ELSE EXPAND
            else {
                $('#news-expanded').fadeIn();
                $('#news-bar-right').attr("src", "images/expand-up-icon.png");
            }
        });
        
        var twitterFeedStream = null;
        
        // IF NEWS ITEM CLICK
        $('#news-expanded').on("click", ".news-item", function(){
        
            // IF NEWS WAS EMPTY, NO LONGER EMPTY
            if($('#news-bar').hasClass('news-empty')){
                $('#news-bar').removeClass('news-empty');
            }
            
            // UPDATE SELECTED NEWS
            $('#news-header').empty();
            
            var elem = newsData.TopNews[$(this).attr("data-item-id")];
            var newsText = '<div class = "news-title">' + elem.Headline + '</div>' +
                    '<div class = "news-meta">' +
                        '<span class = "news-date">' + elem.date + '</span>|' +
                        '<span class = "news-excerpt">' + elem.Brief + '</span>' +							
                    '</div>';
                
            $('#news-header').append(newsText);
            
            // MODIFY LIVE FEED KEYWORDS
            $('#outer-keyword-box').empty();
            $.each(elem.Keywords, function(index, elem){
                $('#outer-keyword-box').append('<span class = "keyword-box">' + elem + '</span>');
            });
            
            // RESET SENTIMENT VALUE
             if (typeof sentimentValue !== 'undefined') {
                sentimentValue = 0;
                refreshSentimentBar(sentimentValue);
            }
            
            // RESET BUBBLES
            if (typeof bubbleCoords !== 'undefined') {
                bubbleCoords = [];
            }
            if (typeof bubbleMap !== 'undefined') {
                bubbleMap.bubbles([]);
            }
           
            // START TWITTER STREAM
            $('#twitter-feed').empty();
            if (typeof twitterFeedStream !== 'undefined') {
                clearInterval(twitterFeedStream);
            }
            
            // IF LOCKHEED
            if($(this).attr("data-item-id") == 0){
                twitterFeedStream = setInterval(renderTweet, 2000);
            }
            else if ($(this).attr("data-item-id") == 1){
                twitterFeedStream = setInterval(renderTweet, 2000);
            }
            
            //
            // UPDATE GLOBAL SELECTED VALUE
            currentNewsID = $(this).attr("data-item-id");
            $('#news-expanded').fadeOut(400, refreshNews());
            $('#news-bar-right').attr("src", "images/expand-down-icon.png");      
        });
        
        // CLOSE EXPANDED IF CLICKED OUTSIDE
        $(document).mouseup(function (e)
        {
            if (!$('#news-expanded').is(e.target) && $('#news-expanded').has(e.target).length === 0 && !$('#news-bar').hasClass('news-empty')) {
                $('#news-expanded').fadeOut();
            }
        });
		
		// TWITTER SENTIMENT
		var sentimentValue = 0;
		function refreshSentimentBar (sentimentValue) {
			if (sentimentValue >= 0 ) {
				$('#result-indicator').children("img").attr("src", "images/positive-indicator.png");
				$('#cursor').children("img").attr("src", "images/positive-bar-icon.png");
			}
			else {
				$('#result-indicator').children("img").attr("src", "images/negative-indicator.png");
				$('#cursor').children("img").attr("src", "images/negative-bar-icon.png");
			}
			var cursorPosition;
			var procent;
			percent = (sentimentValue*100).toFixed(2);
			cursorPosition = (sentimentValue + 1)*200;
			$('#cursor').animate({left: (cursorPosition+8) + 'px'});
			if(percent >= 0) {
				$('#result-percent').html(percent + '% positive');
			}
			else {
				$('#result-percent').html(-percent + '% negative');
			}
		}
		refreshSentimentBar(0);
        
        var lockheedJSON = [];
        var visaJSON = [];
        
        // GET LOCKHEED TWEETS
        $.getJSON( "javascripts/lockheed.json", function( data ) { 
            $.each(data.statuses, function(item, elem){
                lockheedJSON.push([elem.text, elem.user.name, elem.user.screen_name, elem.coordinates, elem.sentiment]);
            });
        });
        
        $.getJSON( "javascripts/visa.json", function( data ) { 
            $.each(data.statuses, function(item, elem){
                visaJSON.push([elem.text, elem.user.name, elem.user.screen_name, elem.coordinates, elem.sentiment]);
            });
        });

           
        var lockheedQueue = lockheedJSON.map(function(arr) {
            return arr.slice();
        });
        var visaQueue = visaJSON.map(function(arr) {
            return arr.slice();
        });
        
        var bubbleCoords = [];
        
        // DATAMAPS          
        var bubbleMap = new Datamap({
            element: document.getElementById('map-container'),
            fills: {
                "bubbleFill": "#ff843c",
                defaultFill: "#2d2d31"
            },
            geographyConfig: {
                borderWidth:0,
                popupOnHover: false,
                highlightOnHover: false
            },
            bubbleConfig: {
                borderWidth: 1,
                borderColor: '#FFFFFF',
                popupOnHover: false,
                fillOpacity: 1,
                highlightOnHover: false,
            }
        });
        
        // ADD TWEET FUNCTION
        function renderTweet(){
            if(currentNewsID != 0 && currentNewsID != 1) return false;
            
            if(currentNewsID == 0){
                if(lockheedQueue.length == 0){
                    lockheedQueue = lockheedJSON.map(function(arr) {
                        return arr.slice();
                    });
                }
                var elem = lockheedQueue[0];
            }
            else {
                if(visaQueue.length == 0){
                    visaQueue = visaJSON.map(function(arr) {
                        return arr.slice();
                    });
                }
                var elem = visaQueue[0];
            }
            
            var tweetText = '<div class = "twitter-post">' + 
					'<span class = "twitter-name">' + elem[1] + '</span>' + 
					'<span class = "twitter-meta"><span class = "twitter-user">@' + elem[2] + '</span><span class = "twitter-time">just now</span></span>' +					
					'<div class = "twitter-text">' + elem[0] + '</div>' +
				'</div>';
            
            // CHECK IF LENGTH IS EQUAL TO 4, DELETE LAST ELEMENT
            if($('.twitter-post').length == 4){
                $('.twitter-post').last().remove();
            }
            $('#twitter-feed').prepend(tweetText);
            
            if(currentNewsID == 0){
                lockheedQueue.shift();
            }
            else {
                visaQueue.shift();
            }    
            
            // ADD TO BUBBLE COORDS
            if(bubbleCoords.length == 12){
                bubbleCoords.shift();
            }
            bubbleCoords.push({"latitude" : elem[3][0], "longitude" : elem[3][1], "radius" : "8", "fillKey": "bubbleFill"});
            bubbleMap.bubbles(bubbleCoords);
            
            // ADD SENTIMENT
            sentimentValue = (sentimentValue + elem[4]) / 2;
            refreshSentimentBar(sentimentValue);
        }
                
        </script>
	</body>
</html>