@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src:url('../assets/fonts/JosefinSans/JosefinSans.woff') format('woff');
}
@font-face {
	font-family: 'Josefin Sans';
	font-style: italic;
	font-weight: 400;
	src:url('../assets/fonts/JosefinSans/JosefinSans-Italic.woff') format('woff');
}
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 600;
	src:url('../assets/fonts/JosefinSans/JosefinSans-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 700;
	src:url('../assets/fonts/JosefinSans/JosefinSans-Bold.woff') format('woff');
}