/* COPYRIGHT INFO HERE */

/* GENERAL STYLES */

body {
	width: 100%;
	background-color: #1e1e21;
	margin: 0;
	padding: 0;
    font-family:"Open Sans", sans-serif;
}

.clearfix {
	clear:both;
}

.orange {
    color:#ff843c;
}

/* HEADER STYLES */

#header {
	margin:0;
	padding:0;
	width: 100%;
    #logo, #news-bar {
        float:left;
    }
    #logo {
        padding:20px 25px 8px;
        width:140px;
        #main-text {
            color:#fff;
            font-size:24px;
            .orange:hover {
                font-weight:700;
                cursor:pointer;
            }
        }
        #sub-text {
            color:#808080;
            font-weight:300;
            font-size:13px;
        }
    }
    #news-bar {
        width:~"calc(100% - 230px)";
        padding:20px;
        position:relative;
        z-index:50;
        background:#252529;
        color:#fff;
        #news-bar-left {
            float:left;
            #news-icon, #news-header {
                display:inline-block;
            }
            #news-icon {
                vertical-align:top;
                margin-top:12px;
            }
            #news-header {
                margin-left:20px;              
            }    
        }
        #news-bar-right {
            float:right;
            opacity:.5;
            transition:all .2s linear;
            vertical-align:top;
            margin-top:15px;
            cursor:pointer;
            &:hover {
                opacity:.8;
            }
        }
    }
    .news-empty {
        #news-bar-left {
            #news-header {
                color:#888;
                margin:12px 0px;
            }
        }
        #news-bar-right {
            display:none;
        }
    }
    #news-expanded {
        display:none;
        color:#fff;
        z-index:40;
        position:absolute;          
        width:~"calc(100% - 190px)";
        margin:0;
        padding:0;
        margin-left:190px;                
        list-style-type:none;
        box-shadow:0px 0px 10px #555;
        li {
            display:block;
            padding:20px 0px;
            padding-left:75px;
            background:#252529;  
            transition:all .2s linear;
            border-top:1px solid #333;
            &:hover {
                cursor:pointer;
                background:#1e1e21;
            }
        }
    }
    .news-item {
        .news-title {
            font-weight:700;
            font-size:20px;
        }
        .news-meta {
            max-width:1000px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow:ellipsis;
            font-weight:300;
            font-size:14px;
            color:#808080;
            .news-date {
                margin-right:10px;
            }
            .news-excerpt {
                margin-left:8px;
            }
        }
    }
}

/* CONTENT STYLES */

#content {
    height:667px;
    width:1356px;
    padding:5px;
    .widget-box {
        background:#252529;
        width:~"calc(100% - 10px)";
        margin:5px;
        float:left;
        box-sizing:border-box;
        padding:10px;
        .box-header {
            font-weight:300;
            color:#fff;
            font-size:14px;
            margin-left:3px;
        }
    }
    #left-column, #right-column {
        float:left;
        height:100%;
    }
    #left-column {
        width:430px;
        #sentiment-box {
            height:138px;
			#result {
				float: left;
				margin-top: 5px;
				#result-indicator,#result-percent {
					display: inline-block;
				}
				#result-indicator {
					width: 8px;
					height: 8px;
					margin: 5px;
					margin-top: 3px;
					vertical-align: top;
				}
				#result-percent {
				  color: #fff;
				  font-weight: 700;
				  font-size: 20px;
				}
			}
			#bar {
				float: left;
				height: 10px;
				margin-top: 20px;
				padding: 0;
				width: 400px;
				#bar-negative,#bar-positive {
					float: left;
					width: 50%;
					height: 10px;
					padding: 0;
				}
				#bar-negative {
					background-color: #ee4739;
				}
				#bar-positive {
				  background-color: #29e05a;
				}
				#cursor {
					position: absolute;
					width: 16px;
					height: 16px;
					left: 268px;
					margin-top: -7px;
				}
			}
			#bar-percents {
				float: left;
				margin-top: 10px;
				color: #79797a;
				font-weight: 300;
				font-size: 12px;
				width: 400px;
				.first {
					margin-left: 0px;
				}
				.last {
					margin-left: 50px;
				}
				span {
					margin-left: 73px;
				}
			}				
        }
        #feed-box {
            height:509px;
			#keywords {
				float: left;
				font-weight: 300;
				font-size: 12px;
				color: #79797a;
				margin: 20px 20px 0px 3px;
				.keyword-box {
					margin: 0px 5px 0px 5px;
					background-color: #44444a;
					padding: 5px 7px 5px 7px;
					color: #98989a;
					font-size: 12px;
					font-weight: 300;
				}
			}
			.twitter-post {
				float: left;
				font-size: 13px;
				padding: 20px 0px 20px 0px;
				border-bottom: 1px solid #333;
				.twitter-name, .twitter-user, .twitter-time {
					display: inline-block;
					margin-top: 10px;
					margin-right: 8px;
				}
				.twitter-name {
					font-weight: 700;
					color: #fff;
					margin-right: 20px;
				}
				.twitter-user, .twitter-time {
					font-weight: 300;
					color: #bcbcbc;
				}
				.twitter-text {
					margin-top: 10px;
					font-weight: 400;
					color: #fff;
				}
			}
        }
    }
    #right-column {
        width:926px;
        #map-box {
            height:416px;
            #map-container {
                margin-top:30px;
                width:895px;
                height:380px;
            }
        }
        #market-box {
            height:231px;
        }
    }
}