/* COPYRIGHT INFO HERE */
/* COPYRIGHT INFO HERE */
/* GENERAL STYLES */
html,
body {
  width: 1366px;
  height: 768px;
}
body {
  background-color: #1e1e21;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.clearfix {
  clear: both;
}
.orange {
  color: #ff843c;
}
/* HEADER STYLES */
#header {
  margin: 0;
  padding: 0;
  width: 100%;
}
#header #logo,
#header #news-bar {
  float: left;
}
#header #logo {
  padding: 20px 25px 8px;
  width: 140px;
}
#header #logo #main-text {
  color: #fff;
  font-size: 24px;
}
#header #logo #main-text .orange:hover {
  font-weight: 700;
  cursor: pointer;
}
#header #logo #sub-text {
  color: #808080;
  font-weight: 300;
  font-size: 13px;
}
#header #news-bar {
  width: calc(100% - 230px);
  padding: 20px;
  position: relative;
  z-index: 50;
  background: #252529;
  color: #fff;
}
#header #news-bar #news-bar-left {
  float: left;
}
#header #news-bar #news-bar-left #news-icon,
#header #news-bar #news-bar-left #news-header {
  display: inline-block;
}
#header #news-bar #news-bar-left #news-icon {
  vertical-align: top;
  margin-top: 12px;
}
#header #news-bar #news-bar-left #news-header {
  margin-left: 20px;
}
#header #news-bar #news-bar-right {
  float: right;
  opacity: .5;
  transition: all .2s linear;
  vertical-align: top;
  margin-top: 15px;
  cursor: pointer;
}
#header #news-bar #news-bar-right:hover {
  opacity: .8;
}
#header .news-empty #news-bar-left #news-header {
  color: #888;
  margin: 12px 0px;
}
#header .news-empty #news-bar-right {
  display: none;
}
#header #news-expanded {
  display: none;
  color: #fff;
  z-index: 40;
  position: absolute;
  width: calc(100% - 190px);
  margin: 0;
  padding: 0;
  margin-left: 190px;
  list-style-type: none;
  box-shadow: 0px 0px 10px #555;
}
#header #news-expanded li {
  display: block;
  padding: 20px 0px;
  padding-left: 75px;
  background: #252529;
  transition: all .2s linear;
  border-top: 1px solid #333;
}
#header #news-expanded li:hover {
  cursor: pointer;
  background: #1e1e21;
}
#header .news-item .news-title {
  font-weight: 700;
  font-size: 20px;
}
#header .news-item .news-meta {
  max-width: 1000px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 14px;
  color: #808080;
}
#header .news-item .news-meta .news-date {
  margin-right: 10px;
}
#header .news-item .news-meta .news-excerpt {
  margin-left: 8px;
}
/* CONTENT STYLES */
#content {
  height: 667px;
  width: 1356px;
  padding: 5px;
}
#content .widget-box {
  background: #252529;
  width: calc(100% - 10px);
  margin: 5px;
  float: left;
  box-sizing: border-box;
  padding: 10px;
}
#content .widget-box .box-header {
  font-weight: 300;
  color: #fff;
  font-size: 14px;
  margin-left: 3px;
}
#content #left-column,
#content #right-column {
  float: left;
  height: 100%;
}
#content #left-column {
  width: 430px;
}
#content #left-column #sentiment-box {
  height: 138px;
}
#content #left-column #sentiment-box #result {
  float: left;
  margin-top: 5px;
}
#content #left-column #sentiment-box #result #result-indicator,
#content #left-column #sentiment-box #result #result-percent {
  display: inline-block;
}
#content #left-column #sentiment-box #result #result-indicator {
  width: 8px;
  height: 8px;
  margin: 5px;
  margin-top: 3px;
  vertical-align: top;
}
#content #left-column #sentiment-box #result #result-percent {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
#content #left-column #sentiment-box #bar {
  float: left;
  height: 10px;
  margin-top: 20px;
  padding: 0;
  width: 400px;
}
#content #left-column #sentiment-box #bar #bar-negative,
#content #left-column #sentiment-box #bar #bar-positive {
  float: left;
  width: 50%;
  height: 10px;
  padding: 0;
}
#content #left-column #sentiment-box #bar #bar-negative {
  background-color: #ee4739;
}
#content #left-column #sentiment-box #bar #bar-positive {
  background-color: #29e05a;
}
#content #left-column #sentiment-box #bar #cursor {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 268px;
  margin-top: -7px;
}
#content #left-column #sentiment-box #bar-percents {
  float: left;
  margin-top: 10px;
  color: #79797a;
  font-weight: 300;
  font-size: 12px;
  width: 400px;
}
#content #left-column #sentiment-box #bar-percents #percent-1 {
  margin-left: 0px;
}
#content #left-column #sentiment-box #bar-percents #percent-2 {
  margin-left: 58px;
}
#content #left-column #sentiment-box #bar-percents #percent-3 {
  margin-left: 74px;
}
#content #left-column #sentiment-box #bar-percents #percent-4 {
  margin-left: 76px;
}
#content #left-column #sentiment-box #bar-percents #percent-5 {
  margin-left: 54px;
}
#content #left-column #feed-box {
  height: 509px;
}
#content #left-column #feed-box #keywords {
  font-weight: 300;
  font-size: 12px;
  color: #79797a;
  margin: 20px 20px 0px 3px;
  margin-bottom: 10px;
}
#content #left-column #feed-box #keywords #outer-keyword-box {
  margin-left: 10px;
}
#content #left-column #feed-box #keywords #outer-keyword-box .keyword-box {
  margin: 0px 3px;
  background-color: #444;
  padding: 4px 8px;
  color: #98989a;
  font-size: 12px;
  font-weight: 300;
}
#content #left-column #feed-box .twitter-post {
  font-size: 12px;
  margin: 0px -10px;
  padding: 15px 15px 20px;
  border-bottom: 1px solid #333;
}
#content #left-column #feed-box .twitter-post .twitter-name,
#content #left-column #feed-box .twitter-post .twitter-user,
#content #left-column #feed-box .twitter-post .twitter-time {
  display: inline-block;
  margin-right: 8px;
}
#content #left-column #feed-box .twitter-post .twitter-name {
  font-weight: 700;
  color: #fff;
  margin-right: 15px;
}
#content #left-column #feed-box .twitter-post .twitter-user,
#content #left-column #feed-box .twitter-post .twitter-time {
  font-weight: 300;
  color: #bcbcbc;
}
#content #left-column #feed-box .twitter-post .twitter-text {
  margin-top: 10px;
  font-weight: 400;
  color: #fff;
}
#content #right-column {
  width: 926px;
}
#content #right-column #map-box {
  height: 416px;
}
#content #right-column #map-box #map-container {
  margin-top: 30px;
  width: 895px;
  height: 380px;
}
#content #right-column #market-box {
  height: 231px;
}
#content #right-column #market-box #market-graph {
  width: 895px;
  height: 190px;
}
#content #right-column #market-box #market-graph .area,
#content #right-column #market-box #market-graph .dc-tooltip .dot {
  fill: #ff843c;
}
#content #right-column #market-box #market-graph .line {
  stroke: #ff843c;
}
